<div class="dadosContainer">
  <div class="dadosInicio">
    <section class="headerDados">
      <a href="../empresas">
        <h1>Empresas</h1>
      </a>
      <span id="seta">►</span><p>Mendes & Camargos LTDA</p>
    </section>

    <table>
      <tr>
        <th rowspan="3">
          <div class="mainDados">
            <img src="/assets/images/logo/logoEmpresa.svg">
          </div>
        </th>
        <td colspan="2" class="nomeEmpDados">
          <b>Mendes & Camargos LTDA</b>
        </td>
        <td>
          <span class="botaoPlanoDados"> Plano Personalizado </span>
        </td>
      </tr>
      <tr>
        <td>
        <b>CNPJ:</b> 07.010.529/0001-35
        </td>
        <td>
          <b>Data de Criação:</b>&nbsp;
          <img class="tableIcon" src="/assets/images/icons/iconDate.svg" />
          11/10/2021 <img class="tableIcon" src="/assets/images/icons/iconTime.svg" /> 15:51
        </td>
        <td><b>ID:</b> c144061e-cae-4268-9d86-aafcca4a576e</td>
        <td>
          <div class="editarEmpresa">Editar empresa</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <b>Endereço:</b> Endereço: Alameda Prudente de Moraes, 770. Apt 28. 80430-220. Centro - Curitiba/PR
        </td>
      </tr>
    </table>
  </div>

  <div class="menuNav">
    <a href="/dados" class="Card2">Dados do plano</a>
    <a href="#" class="Card">Colaboradores</a>
    <a href="#" class="Card">Workspaces</a>
    <a href="#" class="Card">Integrações</a>
    <a href="#" class="Card">Exportações</a>
    <a href="#" class="Card">Contratos</a>
    <a href="#" class="Card">Assinatura digital</a>
    <a href="#" class="Card">Usuários com acesso</a>
  </div>

  <div class="graficos">

    <div class="graficoDados">
      <div id="gH1">Dados do plano</div>
      <div id="gH2">Plano Personalizado</div>
      <div id="gH3">Vencimento: 10/03/23</div>
      <div id="subH3">10 Contratações<br>10 Anexos</div>
    </div>
    <div class="graficoContratacoes">
      <div id="gH1">Contratações</div>
      <div class="circulo1">
        <div class="fundoG">
          <span id="valor">5</span><b>&nbsp;/10</b>
        </div>
      </div>
      <div id="gH4">Restam 5 contratações</div>
    </div>
    <div class="graficoAnexos">
      <div id="gH1">Anexos</div>
      <div class="circulo2">
        <div class="fundoG">
          <span id="valor2">0</span><b>/30</b>
        </div>
      </div>
      <div id="gH4">Restam 30 contratações</div>
    </div>

  </div>

</div>
